/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* brand-light */
}

::-webkit-scrollbar-thumb {
  background: #c5a265; /* brand-accent */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b39254; /* Un auriu mai închis la hover */
}
